hr{
    background-color: gray;
    height: 2px;
}

h1{
    margin-left: 32%;
}

button{
    border-color: orange;
    background-color: white;
    width: 200px;
    height: 50px;
    margin-left: 30px;
    border-radius: 20px;
    border-width: 3px;
    font-size: large;
}

#buttons{
    margin-left: 25%;
    width: 50%;
}

#mainimg{
    position: absolute;
    left: 0px;
    width: 100%;
    max-height:80%;
}

section{
    position: relative;
    left: 15%;
    width: 70%;
    padding-top: 30px;
}

dfn{
    position: relative;
    padding-top: 10px;
}

ul li:hover{
    background-color: orange;
    font-size: large;
    transition: all 0.4s ease-in-out;
}

ul li {
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin-top: 5px;
    margin-left: 25%;
    border-width: 1px;
    border-style: solid;

    padding: 3px;
    text-align: center;
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}




p{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}



button:hover{
    background-color: orange;
    color : white;
    transition: all 0.2s ease-in-out;
}